* {
  font-family: "M PLUS Rounded 1c", Avenir Next, Helvetica, sans-serif;
  color: #333;
}

body {
  background: rgb(229, 229, 234);
}

.wrapper {
  background: rgb(242, 242, 247);
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 100px auto;

  height: 525px;
  width: 360px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  height: 70px;
  width: 70px;
  font-size: 30px;
  border-radius: 17px;
  cursor: pointer;
  background: rgb(229, 229, 234);
  border: none;
}

.resultContainer {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
.resetButton {
  color: #800000;
  height: 30px;
  width: 150px;
  font-size: 17px;

  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
}
